# Arquivos gerados por Python
__pycache__/
*.pyc

# Arquivos gerados por Jupyter Notebooks
.ipynb_checkpoints/

# Ambiente virtual Python (venv)
venv/

# Dados e bancos de dados
data/registro_autoconhecimento/*.db

# Arquivos de configuração local
config.ini

# Arquivos gerados durante a execução do projeto
relatorios/